{% extends 'layout/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<!-- the shortcut i used for creating content below -->
<!-- .container>.row.mt-3>.col-md-8.mx-auto -->
<div class="container vh-100">
    <div class="row mt" style="padding-top: 2rem;">
        <div class="col-md-8 mx-auto">
            <form>
                <div class="input-group mb-3 shadow-lg">
                    <input type="text" placeholder="Enter your query" class="form-control" name="query" id="query">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-success">send</button>
                    </div>
                </div>
            </form>
            <div class="card border-0 shadow-lg p-3">
                <div class="card-reply area ">
                    <li class=" text-lg">How , can i help you?</li><br class="clearfix">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block css %}
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function doquery(e) {
        query = $('#query').val()
        if (query.length > 0) {
            $('.area').append('<p-3 text-lg ms-auto">' + query + '</li><br class="clearfix">')
            $.ajax({
                type: 'GET',
                url: '/chat/reply',
                data: { 'query': query },
                success: function (response) {
                    $('.area').append('<li class="text-lg me-auto">' + response['botreply'] + '</li><br class="clearfix">')
                },
                error: function (response) {
                    $('.area').append('<li class="text-lg me-auto">i dont know that</li><br class="clearfix">')
                }
            });
        }
    }
    // when page is loaded
    $(function () {
        $('.btn').click(function (e) {
            doquery(e);
        })
        $('form').submit(function (e) {
            e.preventDefault();
            doquery(e);
        })
    });
</script>

<style>
    main{
        background-color: rgb(75, 12, 109);
    }
    .btn{
        background-color: rgb(198, 145, 227);
        color: white;
    }
    .card{
        background-color: rgba(215, 202, 223, 0.961);
    }
</style>
{% endblock %}